@model Equipe
@{
    ViewData["Title"] = "Equipes";
}

<div class="banner_cadastro container">
    <h1>Cadastro de @ViewData["Title"]</h1>
</div>

<div class="tela_cadastro">

    <form method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

        <div class="caixa_cadastro3">
            <div class="botoes_cadastro">
                <div class="todos_preencher">
                    <div class="preencher_cadastro">
                        <label>ID</label>
                        <input type="text" name="IdEquipe" />
                    </div>

                    <div class="preencher_cadastro">
                        <label>Nome</label>
                        <input type="text" name="Nome">
                    </div>

                    <div class="preencher_cadastro">
                        <label>Imagem</label>
                        <input type="file" name="Imagem">
                    </div>

                    <button class="botao_cadastrar" type="submit">Cadastrar</button>
                </div>

            </div>

        </div>

    </form>

    <div>
        <table class="lista_de_jogadores2">
            <thead>
                <th class="linha1mvc">Id</th>
                <th class="linha2">Nome</th>
                <th class="linha3">Foto</th>
            </thead>

            <tbody>
                @foreach (Equipe equipe in ViewBag.Equipes)
                {
                    <tr>
                        <td>@equipe.IdEquipe</td>
                        <td>@equipe.Nome</td>
                        <td><img src="/img/Equipes/@equipe.Imagem" alt="Imagem da Equipe @equipe.Nome" width="50px"></td>
                        <td><a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe"><i
                                class="fas fa-trash"></i></a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>